body{
  /* display: none; */
  padding: 0;
  margin: 0 !important;
}

.div1{
  /* background-color: hsl(256, 87%, 12%); */
  /* background: linear-gradient(90deg, rgba(134,131,131,1) 0%, rgba(179,178,178,1) 50%, rgba(161,158,158,1) 100%); */
  /* background-color: white; */
  background: linear-gradient(90deg, rgba(26,26,26,1) 0%, rgba(41,41,41,1) 49%, rgba(39,39,39,1) 100%);
  min-height: 100%;
  width: 100%;
  padding-bottom: 5rem;
  color: rgb(0, 0, 0);
  font-weight: bold;
  display: flex;
  position: absolute;
  flex-direction: column;
  align-content: stretch;
  /* background-color:rgb(146, 146, 107); */
}

.banderaDetail {
    width: 30%;
    margin-top: 35px;
    border-radius: 10px;
    /* display: flex;
    height: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column; */
    
  }

/* .detailContent {
  display: flex;
  background-color: rgba(0, 0, 0, 0.89);
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 5rem 0;
  width: 40%;
  height: 20%;
} */

.detailContainer{
  border-radius: 17px 17px 17px 17px;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left:160px;
  background-color:black;
  color: white;
  /* background: linear-gradient(90deg, rgba(134,131,131,1) 0%, rgba(179,178,178,1) 50%, rgba(161,158,158,1) 100%); */
  width: 80%;
  display: flex;
  height: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 450px){
  .detailContainer{
    margin: auto;
    padding: 10px;
  }
}
  /* .nameDetail{
    width: 80%;
  } */

  /* .detailC{

  } */

  .Pp{
    /* color: black; */
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    /* width: 100%; */
    /* background: linear-gradient(90deg, rgb(59, 59, 59) 0%, rgba(41,41,41,1) 49%, rgba(39,39,39,1) 100%); */
    /* border-radius: 7px;} */
    /* padding-top: 10px; */
    /* padding-bottom: 1px; */
    /* margin-bottom: 10px; */
    /* transition: 1.3s; */
    margin-top: 50px;
    padding: 80px;
    border-radius: 5px;
    font-size: 23px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    background-color: rgb(97, 92, 92);
  }

  .Pp:hover{
    background-color: rgb(254, 254, 254);
    color: rgb(0, 0, 0);

  }

  .detailC{
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
    border-bottom: 2px groove rgb(244, 244, 244);
  }