.paginadoCont {
  display:flex;
  flex-direction: row;
  list-style:none
}

.liNum{
  cursor: pointer;
  border-radius: 3px;
  padding: 5px;
  height: 40px;
  animation-duration: 0.5s;
  background-color: white;
  /* color: wheat; */
}

.liNum1:hover{
  /* cursor: pointer; */
  transform: scale(1.2);
  background-color: black;
  color: white;
}

.prevAndNext{
  background-color:darkgray;
  border-radius: 5px;
  cursor: pointer;
  padding-left:10px;
  padding-right:10px;
  color: white;
}

.prevAndNext:hover{
  transform: scale(1.2);
  background-color: black;
  color: white;
}