/* .navBarConteiner{
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(77,71,71,1) 50%, rgba(0,0,0,1) 100%);
    display: inline-flex;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-weight: bold;
}

.lin{
    text-decoration: none;
    font-weight: bold;
    color: white;
} */
/* 
.navCountries{
    display: block;
    margin-right: 50%;
} */

.navBarConteiner {
  background-color: black;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  /* justify-content: space-a; */
  /* font-weight: bold; */
}
@media  screen and (min-width:700px) {
    
    .homeAndCreate{
        display: flex;
        flex-direction: row;
        padding: 10px;
    }
    .homeAndCreate a{
        padding: 10px;
    }
    .homeAndCreate a:hover{
        text-decoration: none;
    }
}


/* @media screen and (min-width: 700px) {
    .createAct{
        margin-right: 900px;
    }
} */


